MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/snkrs-cart?retryWrites=true&w=majority
PORT=4000
FRONTEND_URL=http://localhost:3000
GMAIL_USER=infosnkrscart@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
